@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react/lib/**/*.{js,ts}";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}